.header {

}
.nav {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 20px;
  background-color: #f0f0f0;
  height: 60px;
}

.navItem {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  height: 40px;
  line-height: 40px;
}

.navItem:last-child {
  margin-right: 70px;
}

.navItem:hover {
  background-color: #d18f69;
  justify-content: center;
  padding: 10px 10px;
  height: 60px;
  line-height: 40px;
}

.active {
  background-color: #d69964;
  justify-content: center;
  padding: 10px 10px;
  height: 60px;
  line-height: 40px;
}